# Игнорируем исполняемый файл (результат сборки)
go_final_project
*.exe

# Игнорируем саму базу данных (её не хранят в гите, она создастся у ревьюера сама)
scheduler.db

# Игнорируем временные файлы редактора
.vscode/